body { 
    padding: 20px; 
}

.nav-link { 
    font-weight: bold; 
}

.nav-title {
    font-weight: bolder;
    font-size: larger;
    padding: .25em;
}

.bg-mine {
    background-color:#cdcdcd;
    padding-left: 1em;
    padding-right: 1em;
}

footer p {
    margin: 0;
}

.footer-logo-container {
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 10;
}

.footer-logo {
    max-width: 100px;
    height: auto;
}

/* Media Query for screens narrower than 880px */
@media (max-width: 995px) {
    .footer-logo-container {
        position: static;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

/* Ensure the root and body take up the full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main content grows to fill available space */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Footer is always at the bottom */
footer {
    background-color: #f8f9fa; /* Light background color */
    text-align: center;
    padding: 20px 0;
    padding-top: 10px;
}


section {
    text-align: justify;
}

header h1 {
    text-align: center;
    font-size: xxx-large;
    font-weight: 900;
    margin-bottom: 20px;
}


/* Submenu styles */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -0.1rem;
}

.dropdown-item.active  {
    background-color: rgb(188, 184, 184) !important;
}

.boldT {
    font-weight: bold;
}

.seating-image {
    text-align: center;
}

figcaption {
    margin-top: 10px;
}

.tableM {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    overflow: visible;
}

.seating-image img {
    max-width: 100%;
}

.heldenLebenTitle {
    font-size: large;
    margin-bottom: 1em;
}

.btnCenter {
    text-align: center;
    align-items: center;
}

.btnM:hover {
    background-color: rgb(192, 220, 138);
}